/*************** ICON + FONTS ****************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

body {
  font-family: 'Open Sans',sans-sherif;
  line-height: 1.4;
  x-overflow: hidden;
  color: #000;  
}

/*--------------FONTS-------------------*/
.w-100 {
  font-weight: 100;
}
.w-300 {
  font-weight: 300;
}
.w-400 {
  font-weight: 400;
}
.w-600 {
  font-weight: 600;
}
.w-700 {
  font-weight: 700;
}
.lato {
  font-family: 'Lato',sans-sherif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.3;
}
.extra-big {
  font-size: 5rem;
}

.big {
  font-size: 3rem;
}
.medium {
  font-size: 2rem;
}
.small {
  font-size: 1rem;
}

/*-------------------COLORS-----------------*/
.orange {
  color: #ef522e;
}
.blue {
  color: #0062cc;
}
.white {
  color: #fff;
}
.title-container {
  background: url('img/reforma-integral-piso.jpg') no-repeat center top;
  padding:80px 0;
  min-height: 700px;
}

/*-------------- COMPONENTS ----------------*/
.testimonials {
  margin: 40px 0;
}
/*---------------- BREAKING POINTS ----------------*/

@media (max-width: 576px) {
      /************** FONTS FOR SMALL DEVICES ****************/
      .extra-big {
        font-size: 2.5rem;
      }
      .big {
        font-size: 2rem;
      }
      .medium {
        font-size: 1.5rem;
      }
      .small {
        font-size:0.75rem;
      }

      .title-container {
        background-image: url('img/reforma-integral-piso-moviles.jpg');
        min-height: 700px;
      }

      /*------------ COMPONENTS -------------*/
      .card {
        margin-bottom:10px;
      }
}
@media (min-width: 577px) and (max-width: 800px) {
  .title-container {
    background-image: url('img/reforma-integral-piso-medium.jpg');
    min-height: 300px;
  }
  .extra-big {
    font-size:4rem;
  }
}

/*------------- OLD SCREENS 1024X768 ------------*/
@media (min-width: 801px) and (max-width: 1024px) {
  .title-container {
    background-image: url('img/reforma-integral-piso-1024.jpg');
    min-height: 600px;
  }
  .extra-big {
    font-size:4rem;
  }
}